@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  background-color: rgb(31, 41, 55);
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: large;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 10px;
}
.video-player {
  background-color: black;
  width: 75%;
  max-width: 700px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid white;
}
